<body class="welcome-body">
  <h1 class="welcome-header">Welcome to Book Club</h1>
  <p class="quote">So many books, so little time.<br> - Frank Zappa - </p>
  <section class="developer-links">
    <h4>Developed by:</h4>
    <a href="https://github.com/hsmitha26">Smitha Hosmani</a><br>
    <a href="https://github.com/renecasco">Rene Casco</a>
  </section>
</body>
